.search-item {
  flex: 5 auto 0; 
  background-color: #3d423d;
  overflow-y: auto;
}

.items-container {
  text-decoration: none; 
  list-style-type: none;
  display: flex; 
  flex-direction: row;
  column-gap: 40px;
  padding-left: 25px;
}

.items-artist {
  height: 250px;
  min-width: 189px;
  border: 2px solid rgb(8, 6, 6);
  background-color: rgb(32, 36, 32);
  margin-top: 10px;
  border-radius: 13px;
}

.items-artist-link{
  text-decoration: none;
  color: white;
}

.items-artist-image {
  height: 150px;
  width: 186px;
  border-radius: 50%;
  margin-left: 1px;
  margin-top: 13px;
}

.item-types {
  color: rgb(216, 208, 208);
  margin-left: 10px;
}

.item-names {
  margin-left: 10px;
}

.overflown-artist-icon-right {
  color: rgb(1, 5, 1);
  position: absolute;
  margin-left: 100px;
}

.overflown-artist-icon-right-container {
  margin-left: 1345px;
  margin-top: -155px;
}
