.App {
    
}

.main-component {
  display: flex;  
  flex-direction: row;
  overflow-x: hidden;
}

.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: #0c0d0c;
  position: fixed;
}

.search-item {
  margin-left: 20vw;
  width: 100vw;
  min-height: 100vh;
  background-color: #3d423d;
}

.icons-container {
  padding-top: 40px;
}

.home-icon-container {  
  position: relative;
  font-size: 20px;
  color: white ;
  display: flex;
}

.home-icon-word {
  color: white;
}

.home-icon-word {
  padding-left: 7.89em;
  margin-bottom: 10px;
}

.home-icon {
  color: rgb(248, 243, 243);
}

.home-icon-link {
  text-decoration: none;
}