.App {
  height: 100vh;
  width: 100vw;
}

.main-component {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.side-bar {
  display: flex;
  flex: 1 auto 0;
  min-height: 100vh;
  background-color: rgb(20, 19, 19);
}

.search-item {
  height: 100vh;
  flex: 5 auto auto;
  background-color: #3d423d;
  overflow-y: auto;
}

.icons-container {
  padding-top: 40px;
  flex-direction: column;
  list-style: none;
}

.icon-home-container {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

.icon-home {
  color: rgb(184, 169, 169);
  margin-top: 20px;
  float: left;
}

.icon-home-container p {
  color: white;
  margin-top: 25px;
  margin-left: 40px;
  float: right;
}
