.App {
  height: 100vh;
  width: 100vw;
}

.main-component {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.side-bar {
  display: flex;
  flex: 1 auto 0;
  flex-direction: row;
  min-height: 100vh;
  background-color: rgb(20, 19, 19);
}

.search-item {
  height: 100vh;
  flex: 5 auto auto;
  background-color: #3d423d;
  overflow-y: auto;
}

.icons-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 30px;
  color: white;
  text-decoration: none;
}

.icons-container p {  
  padding-left: 10px;
  color: white;
}


.icons {
  color: rgb(184, 169, 169);
  padding-top: 10px;
}

.icon-container {
  display: flex;
  text-decoration: none;
}

.search-bar-container {
  position: fixed;
  margin-top: 20px;
}